.filter-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #1c1c1c; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.filter-bar > div {
    margin-bottom: 20px; /* Space between filter */
}

.filter-bar label {
    font-weight: bold;
    color: rgb(255, 255, 255); /* Label color */
}

button {
    padding: 8px 12px; /* Button size */
    margin-right: 10px; /* Spacing between buttons */
    background-color: #333; 
    border: none; 
    cursor: pointer; /* Pointer cursor on hover */
    color: white; 
}

button:hover {
    background-color: #444; /* Grey on hover */
}

button.active {
    background-color: rgb(33, 33, 173); /* Blue for selected options */
    color: white; 
}
